{% load static %}
<footer class='bg-dark'>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="de-flex">
                        <div class="de-flex-col">
                            <a>
                                <span class="copy">Blog uygulamasi tum haklari saklidir</span>
                            </a>
                        </div>
                        <div class="de-flex-col ">
                            <div class="social-icons ">
                                <a href="#"><i class="fa fa-facebook fa-lg bg-primary"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg bg-primary"></i></a>
                                <a href="#"><i class="fa fa-linkedin fa-lg bg-primary"></i></a>
                                <a href="#"><i class="fa fa-pinterest fa-lg bg-primary"></i></a>
                                <a href="#"><i class="fa fa-rss fa-lg bg-primary"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>